{% from 'logging.jinja' import start_group, end_group with context %}

{% macro sync_module_commands(module_name) -%}
{{ start_group("Synchronize module") }}
module load modulemgr
modulemgr -v -f sync {{ module_name }}
{% if ci_options.sync_clusters %}
/home/deploy/software-sync/bin/software-sync -s local -t {{ ci_options.sync_clusters|join(",") }} -p {{ module_name }}
modulemgr -v -f -m {{ ci_options.sync_clusters|join(",") }} sync {{ module_name }}
{% endif %}
{{ end_group() }}
{%- endmacro %}

{% macro module_tag_commands(module_name) -%}
{{ start_group("Tag module") }}
echo "Tagging module {{ module_name }} version {{ ci_options.ref_name }} as {{ ci_options.module_tag_name }} on clusters {{ ci_options.tag_clusters|join(",") }}"
module load modulemgr
modulemgr -m "{{ ci_options.tag_clusters|join(",") }}" -f -v tag "{{ module_name }}" "{{ ci_options.ref_name }}" "{{ ci_options.module_tag_name }}"
{{ end_group() }}
{%- endmacro %}
