---
name: cd-pypi

on:
  workflow_call:
    inputs:
      testpypi:
        description: Whether to upload to testpypi instead of pypi.
          Requires secrets.PYPI_TEST_API_TOKEN to be defined.
        type: boolean
        required: false
        default: false
      working-directory:
        description: Working directory to build Python package (for monorepos).
          Defaults to root directory.
        type: string
        required: false
        default: "./"
      buildargs:
        description: Args to pass in to build as `python -m build {buildargs}`
          e.g. '--sdist' for just source distribution
        type: string
        required: false
        default: ''
      env_vars:
        description: A way to set env variables
        type: string
        required: false
        default: ''


jobs:
  deploy:
    if: ${{ github.ref_type == 'tag' || github.event_name == 'release' || inputs.testpypi }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - name: Set env variables from input
        if: inputs.env_vars != ''
        run: |
          for key in $(echo '${{ inputs.env_vars }}' | jq -r 'keys[]'); do
            value=$(echo '${{ inputs.env_vars }}' | jq -r ".\"$key\"")
            echo "$key=$value" >> $GITHUB_ENV
          done
        shell: bash

      - uses: actions/checkout@v4
        with:
          fetch-depth: "0"

      - name: Test tag name pattern
        if: ${{ !inputs.testpypi }}
        shell: python
        run: |
          import re
          import sys

          tag_pattern = r"${{ vars.TAG_REGEX_FOR_DEPLOYMENT }}"
          ref = "${{ github.ref_name }}"

          if not tag_pattern:
            sys.exit(0)

          if not re.match(tag_pattern, ref):
            print(f"::error::{ref} does not match {tag_pattern}")
            sys.exit(1)

      - name: Test branch name pattern
        if: ${{ vars.BRANCH_REGEX_FOR_DEPLOYMENT != '' && !inputs.testpypi }}
        run: |
          echo "Checking that this release is being made from a main/master branch ( ${{ vars.BRANCH_REGEX_FOR_DEPLOYMENT }} ) - will fail if not"
          git branch --all --list --format "%(refname:lstrip=3)" --contains "${{ github.ref_name }}" | grep -E "${{ vars.BRANCH_REGEX_FOR_DEPLOYMENT }}"

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine build

      - name: Check version
        run: |
          if [ -f "setup.py" ]; then
            if [ -f "pyproject.toml" ] ; then
              # we need to install eg setuptools_scm to correctly determine version later
              extra_deps=$(python -c 'import tomllib; print(" ".join(f"{e}" for e in tomllib.load(open("pyproject.toml", "rb"))["build-system"]["requires"]))')
              pip install --upgrade $extra_deps
            fi
            version=$(python setup.py --version)
            release=${{ github.ref_name }}
            if [ "${{ inputs.testpypi }}" != "true" ] ; then test "$release" == "$version"; fi
          fi

      - name: Build and publish to pypi
        if: ${{ !inputs.testpypi }}
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          python -m build ${{ inputs.buildargs }}
          twine check dist/*
          twine upload dist/*

      - name: Build and publish to testpypi
        if: ${{ inputs.testpypi }}
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TEST_API_TOKEN }}
        run: |
          python -m build ${{ inputs.buildargs }}
          twine check dist/*
          # HINT: if your upload fails here due to "unsupported local version",
          # put `local_scheme = "no-local-version"` pyproject.toml's
          # [tools.setuptools_scm]
          twine upload --repository testpypi --verbose dist/*
