---
name: cd-pypi

on:
  workflow_call:
    inputs:
      testpypi:
        description: Whether to upload to testpypi instead of pypi.
          Requires secrets.PYPI_TEST_API_TOKEN to be defined.
        type: boolean
        required: false
        default: false
      working-directory:
        description: Working directory to build Python package (for monorepos).
          Defaults to root directory.
        type: string
        required: false
        default: "./"
      platforms:
        description: For not pure python project, the platforms to build for e.g. "['ubuntu-latest','macos-latest','windows-latest']"
        required: false
        type: string
        default: ''
      pyversions:
        description: For not pure python project, the Python versions to build for e.g. "['38','39','310','311','312','313']"
        required: false
        type: string
        default: ''
      env_vars:
        description: A way to set env variables
        type: string
        required: false
        default: ''


jobs:
  deploy:
    if:  inputs.platforms != '' && inputs.pyversions != ''
    strategy:
      matrix:
        platform: ${{ fromJson(inputs.platforms) }}
        python: ${{ fromJson(inputs.pyversions) }}
    runs-on: ${{ matrix.platform }}
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - name: Set env variables from input
        if: inputs.env_vars != ''
        run: |
          for key in $(echo '${{ inputs.env_vars }}' | jq -r 'keys[]'); do
            value=$(echo '${{ inputs.env_vars }}' | jq -r ".\"$key\"")
            echo "$key=$value" >> $GITHUB_ENV
          done
        shell: bash

      - uses: actions/checkout@v4
        with:
          fetch-depth: "0"

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install twine setuptools wheel cibuildwheel

      - name: Build wheels
        run: |
          cibuildwheel --output-dir dist
        env:
          CIBW_BUILD: "cp${{ matrix.python }}-*"
          CIBW_BUILD_VERBOSITY: 1

      - name: Upload to PyPI
        if: ${{ !inputs.testpypi }}
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          twine check dist/*.whl
          twine upload dist/*.whl

      - name: Upload to test-PyPI
        if: ${{ inputs.testpypi }}
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TEST_API_TOKEN }}
        run: |
          twine check dist/*.whl
          # HINT: if your upload fails here due to "unsupported local version",
          # put `local_scheme = "no-local-version"` pyproject.toml's
          # [tools.setuptools_scm]
          twine upload --repository testpypi --verbose dist/*.whl
