---
name: cd-pypi

on:
  workflow_call:
    inputs:
      testpypi:
        description: Whether to upload to testpypi instead of pypi.
          Requires secrets.PYPI_TEST_API_TOKEN to be defined.
        type: boolean
        required: false
        default: false
      working-directory:
        description: Working directory to build Python package (for monorepos).
          Defaults to root directory.
        type: string
        required: false
        default: "./"
      platforms:
        description: Platforms to build for.
        required: false
        type: string
        default: "['ubuntu-latest']"
      pyversions:
        description: Python versions to build for.
        required: false
        type: string
        default: "['38', '39', '310']"
      rust: # TODO: use this
        description: Whether to install rust
        type: boolean
        required: false
        default: false

jobs:
  build:
    if: ${{ github.ref_type == 'tag' || github.event_name == 'release' || inputs.testpypi }}
    name: Build wheels and source distribution
    strategy:
      matrix:
        os: ${{ fromJson(inputs.platforms) }}
        python: ${{ fromJson(inputs.pyversions) }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: "0"

      - name: Test tag name pattern
        if: ${{ !inputs.testpypi }}
        shell: python
        run: |
          import re
          import sys

          tag_pattern = r"${{ vars.TAG_REGEX_FOR_DEPLOYMENT }}"
          ref = "${{ github.ref_name }}"

          if not tag_pattern:
            sys.exit(0)

          if not re.match(tag_pattern, ref):
            print(f"::error::{ref} does not match {tag_pattern}")
            sys.exit(1)

      - name: Test branch name pattern
        if: ${{ vars.BRANCH_REGEX_FOR_DEPLOYMENT != '' && !inputs.testpypi }}
        run: |
          echo "Checking that this release is being made from a main/master branch ( ${{ vars.BRANCH_REGEX_FOR_DEPLOYMENT }} ) - will fail if not"
          git branch --all --list --format "%(refname:lstrip=-1)" --contains "${{ github.ref_name }}" | grep -E "${{ vars.BRANCH_REGEX_FOR_DEPLOYMENT }}"

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine build cibuildwheel

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      
      - name: Check if rust is installed
        run: |
          rustc --version

      - name: Check version
        run: |
          if [ -f "setup.py" ]; then
            if [ -f "pyproject.toml" ] ; then
              # we need to install eg setuptools_scm to correctly determine version later
              extra_deps=$(python -c 'import tomllib; print(" ".join(f"{e}" for e in tomllib.load(open("pyproject.toml", "rb"))["build-system"]["requires"]))')
              pip install --upgrade $extra_deps
            fi
            version=$(python setup.py --version)
            release=${{ github.ref_name }}
            if [ "${{ inputs.testpypi }}" != "true" ] ; then test "$release" == "$version"; fi
          fi

      - name: Build wheels
        run: |
          cibuildwheel --output-dir dist
        env:
          CIBW_BUILD: "cp${{ matrix.python }}-*"
          CIBW_SKIP: "pp*"
          CIBW_BEFORE_BUILD: |
            rustc --version
          CIBW_BUILD_VERBOSITY: 1

      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.python }}-${{ matrix.os }}
          path: dist/*.whl

  upload:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: wheels-*
          path: dist/*

      - name: Upload to PyPI
        if: ${{ !inputs.testpypi }}
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          pip install twine
          twine check dist/*
          twine upload dist/*

      - name: Upload to test-PyPI
        if: ${{ inputs.testpypi }}
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TEST_API_TOKEN }}
        run: |
          pip install twine
          twine check dist/*
          # HINT: if your upload fails here due to "unsupported local version",
          # put `local_scheme = "no-local-version"` pyproject.toml's
          # [tools.setuptools_scm]
          twine upload --repository testpypi --verbose dist/*
