# Used to be a job that released binary python wheels
# However, we have moved away from reusable-actions to a different
# repo which facilitates centralized bundle-style releases
# We keep this action in place until all repos get cleaned of the triggering
# reference

on:
  workflow_call:
    inputs:
      use_test_pypi:
        description: Use test pypi instead of the regular one
        required: false
        type: boolean
        default: false
      wheel_directory:
        description: Path to the directory with buildconfig and pyproject
        required: false
        type: string
        default: python_wrapper
jobs:
  noop:
    name: There is no job, there is only peace
    if: false
    runs-on: ubuntu-24.04
    steps:
      - run: echo ""
